/*COLOR CODES*/
/*firebrick red*/
/*#F7D060 yellow*/
/*#F3E99F light yellow*/


body {
    background-color: #F3E99F;
    text-align: center;
}

.main_heading {
    font-size: 4rem;
    color: firebrick;
}

.sub_heading {
    font-family: 'Aboreto', cursive;
    font-size: 1rem;
    display: flex;
    font-weight: normal;
    justify-content: center;
    gap: 14rem;
}

.banner {
    width: 40rem;
    font-size: 5rem;
    margin: 0 auto 0 auto;
}

.images {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.emoji_hand {
    width: 5rem;
    height: 5rem;
}

.refresh{
    font-family: 'Aboreto', cursive;
    width: 8rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10%;
    color: firebrick;
    background-color: #F7D060;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
}

footer{
    margin-top:10rem;
}